.image-grid {  
    display: grid;
    grid-template-columns: repeat(2, minmax(20px, 1fr));
    column-gap: 2rem;
  }

  .image-item {
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    
  }